---
type Props = {
  project: {
    logo: string;
    techUsed: {
      logo: string;
      title: string;
      url: string;
    }[];
    title: string;
    projectUrl: string;
    description: string;
    repoUrl: string;
    color: string;
  };
};
const {
  project: { logo, techUsed, title, projectUrl, description, repoUrl, color },
} = Astro.props;
---

<div class="container p-4">
  <h1>{title}</h1>

  <div class="flex justify-end">
    <a href={projectUrl} title={`Launch ${title}`}>
      <img src="goto.svg" alt="Go-to-link image" srcset="" />
    </a>
  </div>

  <div class="flex items-center">
    <p>{description}</p>
  </div>

  <div class="flex items-center">
    <img src={logo} alt="Project logo" srcset="" />
  </div>

  <div>
    <h2 class="mb-2">Built with:</h2>
    <div class="flex gap-5">
      {
        techUsed.map((tech) => (
          <a href={tech.url} title={tech.title} class="w-12">
            <img src={tech.logo} alt={tech.title} srcset="" />
          </a>
        ))
      }
    </div>
  </div>

  <div class="flex items-end justify-end">
    <a href={repoUrl} title={`${title} repository`}>
      <img src="github.svg" alt="GitHub Logo" srcset="" />
    </a>
  </div>
</div>

<style>
  .container {
    border-radius: 0.4375rem;
    background: linear-gradient(
      119deg,
      #a383fc 1.7%,
      rgba(221, 208, 255, 0.6) 58.67%
    );
    display: grid;
    grid-template-columns: 60% 25%;
    column-gap: 15%;
    grid-template-rows: 3rem 2fr 1fr;
  }
</style>
