---
type Props = {
  project: {
    logo: string;
    techUsed: {
      logo: string;
      title: string;
      url: string;
    }[];
    title: string;
    projectUrl: string;
    description: string;
    repoUrl: string;
    color: string;
  };
};
const {
  project: { logo, techUsed, title, projectUrl, description, repoUrl, color },
} = Astro.props;
---

<div class={`container px-8 pb-4 pt-8 ${color}`}>
  <h1 class="text-4xl">{title}</h1>

  <div class="flex justify-end">
    <a href={projectUrl} title={`Launch ${title}`}>
      <img src="goto.svg" alt="Go-to-link image" srcset="" />
    </a>
  </div>

  <div class="flex items-center">
    <p class="text-lg">{description}</p>
  </div>

  <div class="flex items-center">
    <img src={logo} alt="Project logo" srcset="" />
  </div>

  <div>
    <h2 class="mb-2">Built with:</h2>
    <div class="flex gap-5">
      {
        techUsed.map((tech) => (
          <a href={tech.url} title={tech.title} class="w-12">
            <img src={tech.logo} alt={tech.title} srcset="" />
          </a>
        ))
      }
    </div>
  </div>

  <div class="flex items-end justify-end">
    <a href={repoUrl} title={`${title} repository`}>
      <img src="github.svg" alt="GitHub Logo" srcset="" />
    </a>
  </div>
</div>

<style>
  .container {
    border-radius: 0.4375rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    column-gap: 2rem;
    grid-template-rows: 3rem 3fr 1fr;
  }
  .purple {
    background: linear-gradient(
      119deg,
      #a383fc 1.7%,
      rgba(221, 208, 255, 0.6) 58.67%
    );
  }
  .blue {
    background: linear-gradient(
      119deg,
      #4ddfff 1.7%,
      rgba(188, 255, 251, 0.6) 58.67%
    );
  }
  .yellow {
    background: linear-gradient(
      119deg,
      #ffe665 1.7%,
      rgba(255, 248, 188, 0.6) 58.67%
    );
  }
  .green {
    background: linear-gradient(
      119deg,
      #91ff75 1.7%,
      rgba(183, 255, 185, 0.6) 58.67%
    );
  }
  .orange {
    background: linear-gradient(
      119deg,
      #ffc075 1.7%,
      rgba(255, 226, 183, 0.6) 58.67%
    );
  }
  .red {
    background: linear-gradient(
      119deg,
      #ff7575 1.7%,
      rgba(255, 183, 183, 0.6) 58.67%
    );
  }
</style>
