---
type Props = {
  project: {
    logo: string;
    techUsed: {
      logo: string;
      title: string;
      url: string;
    }[];
    title: string;
    projectUrl: string;
    description: string;
    repoUrl: string;
    color: string;
  };
  mobile: boolean;
};
const {
  project: { logo, techUsed, title, projectUrl, description, repoUrl, color },
  mobile,
} = Astro.props;
---

<div
  class={`container px-[5%] pb-[2%] pt-4 opacity-0 blur-sm transition-all duration-700 border-2 border-gray-600 ${color} ${
    mobile ? "mobile-container" : ""
  } translate-y-44 `}
>
  <h1 class="title">{title}</h1>

  <div class="flex justify-end">
    <a
      href={projectUrl}
      title={`Launch ${title}`}
      target="_blank"
      class="w-[30%]"
    >
      <img src="goto.svg" alt="Go-to-link image" srcset="" />
    </a>
  </div>

  <div class="description flex items-center">
    <div set:html={description} />
  </div>

  <div class="flex items-center">
    <img src={logo} alt="Project logo" srcset="" class="w-full" />
  </div>

  <div>
    <h2 class="built-with-title mb-2">Built with:</h2>
    <div class="flex gap-5">
      {
        techUsed.map((tech) => (
          <a href={tech.url} title={tech.title} class="w-[15%]" target="_blank">
            <img src={tech.logo} alt={tech.title} srcset="" />
          </a>
        ))
      }
    </div>
  </div>

  <div class="flex items-end justify-end">
    <a
      href={repoUrl}
      title={`${title} repository`}
      target="_blank"
      class="w-[4.5vh]"
    >
      <img src="github.svg" alt="GitHub Logo" srcset="" />
    </a>
  </div>
</div>

<style>
  .slide-in {
    filter: blur(0px);
    opacity: 1;
    transform: translateX(0);
  }
  .container {
    border-radius: 0.4375rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    column-gap: 3rem;
    grid-template-rows: 2rem 3fr 1fr;
  }
  .container:hover {
    transform: translateY(-10px);
  }
  .mobile-container {
    column-gap: 1rem;
    grid-template-rows: 2rem 2fr 1fr;
  }
  .title {
    font-size: clamp(1.2rem, 2vw, 2rem);
  }
  .description {
    font-size: clamp(0.7rem, 3vw, 1.1rem);
  }
  .built-with-title {
    font-size: clamp(0.2rem, 3vw, 1rem);
  }
  .purple {
    background: linear-gradient(
      119deg,
      #a383fc 1.7%,
      rgba(221, 208, 255, 0.6) 58.67%
    );
  }
  .purple:hover {
    border: solid 2px #572dca;
  }
  .blue {
    background: linear-gradient(
      119deg,
      #4ddfff 1.7%,
      rgba(188, 255, 251, 0.6) 58.67%
    );
  }
  .blue:hover {
    border: solid 2px #23859b;
  }
  .yellow {
    background: linear-gradient(
      119deg,
      #ffe665 1.7%,
      rgba(255, 248, 188, 0.6) 58.67%
    );
  }
  .yellow:hover {
    border: solid 2px #af9723;
  }
  .green {
    background: linear-gradient(
      119deg,
      #91ff75 1.7%,
      rgba(183, 255, 185, 0.6) 58.67%
    );
  }
  .green:hover {
    border: solid 2px #33821f;
  }
  .orange {
    background: linear-gradient(
      119deg,
      #ffc075 1.7%,
      rgba(255, 226, 183, 0.6) 58.67%
    );
  }
  .orange:hover {
    border: solid 2px #b77728;
  }
  .red {
    background: linear-gradient(
      119deg,
      #ff7575 1.7%,
      rgba(255, 183, 183, 0.6) 58.67%
    );
  }
  .red:hover {
    border: solid 2px #902222;
  }
</style>
<script>
  const projectCardObserver = new IntersectionObserver((projectCards) => {
    projectCards.forEach((projectCard) => {
      if (projectCard.isIntersecting) {
        projectCard.target.classList.add("slide-in");
      }
    });
  });
  const projectCards = document.querySelectorAll(".container");
  projectCards.forEach((projectCard) => {
    projectCardObserver.observe(projectCard);
  });
</script>
