---
import getProjectCards from "../../api/getProjectCards.js";
import ProjectCard from "./project-card.astro";

const projects = await getProjectCards();
---

<div>
  <h1 class="text-center">Projects</h1>

  <hr class="m-auto w-1/2 border-neutral-600 bg-black md:border-2" />

  <div class="quote clamp-text my-8 text-center">
    <div class="mb-4">
      When I wrote this code, only God and I understood what it meant.
    </div>
    <div>Now only God knows.</div>
  </div>

  <!-- Desktop View -->
  <div class="desktop flex">
    <div class="mx-[3vw] flex w-5/12 flex-col gap-20">
      {
        projects
          .filter((_, index) => index % 2 === 0)
          .map((project) => {
            return <ProjectCard project={project} mobile={false} />;
          })
      }
    </div>
    <div class="mx-[3vw] mt-32 flex w-5/12 flex-col gap-20">
      {
        projects
          .filter((_, index) => index % 2 !== 0)
          .map((project) => {
            return <ProjectCard project={project} mobile={false} />;
          })
      }
    </div>
  </div>

  <!-- Mobile View -->
  <div class="mobile flex flex-col items-center gap-20 px-5">
    {
      projects.map((project, index) => {
        return <ProjectCard project={project} mobile />;
      })
    }
  </div>
</div>

<style>
  @media (min-width: 1001px) {
    .mobile {
      display: none;
    }
  }
  @media (max-width: 1000px) {
    .desktop {
      display: none;
    }
  }
  .clamp-text {
    font-size: clamp(1rem, 3vw, 3rem);
  }
  h1 {
    font-size: clamp(1rem, 11vw, 11rem);
  }
</style>
